body {
    display: flex;
    justify-content: center;
}

body main {
    margin: 1rem;
    max-width: 765px;
}

h1 {
    font-size: 4rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

p {
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
}